@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-Black-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold-webfont.eot'); 
  src: url('../fonts/Roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto-Bold-webfont.woff') format('woff'), 
       url('../fonts/Roboto/Roboto-Bold-webfont.ttf')  format('truetype'),
       url('../fonts/Roboto/Roboto-Bold-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium-webfont.eot'); 
  src: url('../fonts/Roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Roboto/Roboto-Medium-webfont.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Medium-webfont.ttf')  format('truetype'),
       url('../fonts/Roboto/Roboto-Medium-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto/Roboto-Italic-webfont.eot'); 
  src: url('../fonts/Roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Roboto/Roboto-Italic-webfont.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Italic-webfont.ttf')  format('truetype'),
       url('../fonts/Roboto/Roboto-Italic-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light-webfont.eot'); 
  src: url('../fonts/Roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Roboto/Roboto-Light-webfont.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Light-webfont.ttf')  format('truetype'),
       url('../fonts/Roboto/Roboto-Light-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular-webfont.eot'); 
  src: url('../fonts/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Roboto/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Regular-webfont.ttf')  format('truetype'),
       url('../fonts/Roboto/Roboto-Regular-webfont.svg#svgFontName') format('svg');
}
body {
    background: rgba(224,224,224,.3);
    font-family: 'Roboto-Regular', sans-serif;
}
h1 {
     font-family: 'Roboto-Regular', sans-serif;
     color:rgb(65,64,66);
     opacity:.9;
     font-size:48px;
}
h2 {
     font-family: 'Roboto-Bold', sans-serif;
     color:rgb(65,64,66);
     opacity:.9;
     margin-bottom:5px;
     letter-spacing:0.7px;
}
h3 {
     font-family: 'Roboto-Medium', sans-serif;
     opacity:.8;
     color:rgb(0,73,98);
     margin-bottom: 10px;
}
h4 {
    font-family: 'Roboto-Medium', sans-serif;
    opacity:.8;
    color:rgb(65,64,66);
    margin-top: 0px;
    margin-bottom:13px;
    font-size:17px;
    font-weight:600;
    letter-spacing:0.7px;
}
p, li, tr {
    font-family: 'Roboto-Light', sans-serif;
    opacity:.7;
    color:rgb(65,64,66);
    font-size: 16px;
    line-height: 28px;
}
p.footnote {
    font-size:12px;
    line-height:20px;
}
b {
    font-family: 'Roboto-Bold', sans-serif;
}
em {
    font-family: 'Roboto-Italic', sans-serif;
}
a {
    color:rgb(255,69,26);
}
a:hover {
    color:rgb(0,73,98);
}
nav {
    background:rgb(128, 128, 128);
}
#navbar {
    background:rgb(255,69,26);
}
.navbar-toggle {
    float: left;
    display:block;
    border:none;
}
.navbar-inverse .navbar-toggle {
    float: left;
    display:block;
    border:1px solid white;
    border-radius:0;
    background:rgb(255,69,26);
    box-shadow:1px 1px 2px rgba(99,100,102, .8);
}
.navbar-inverse .navbar-toggle:hover {
    background:rgb(255,69,26);
    box-shadow:3px 3px 5px rgba(99,100,102, .4);
}
.navbar-inverse .navbar-toggle .icon-bar {
    background: white;
}
.navbar-inverse .navbar-header .navbar-brand {
    color: rgb(65,64,66);
}

.sidebar {
width: 185px;
padding: 0;
background: rgb(65,64,66);
position: absolute;
height: 100%;
}
nav.side-nav {
    background:rgb(65,64,66);
    padding: 0;
    margin: 0;
}
    nav.side-nav ul {
    padding: 0;
    list-style-type: none;
    display: block;
    margin-bottom: 0px;
}
   nav.side-nav ul li {
    width: 100%;
    margin-bottom: 0;
    border-top: thin rgba(99,100,102,.7) solid;
    border-bottom: thin rgba(99,100,102,.4) solid;
    box-shadow: 1px 2px 18px rgba(0,0,0,0);
	cursor:pointer;
    transition: box-shadow .28s linear, background .28s linear;
    position: relative;
    background:rgba(65,64,66,1);
}
  nav.side-nav ul li:hover {
       background:rgb(99,100,102);
box-shadow: 3px 4px 18px rgba(0,0,0,.8);
 z-index:8;
}
      nav.side-nav ul li.active {
    background: rgb(99,100,102);
    box-shadow: 1px 2px 17px rgba(0,0,0,.8);
    z-index:99;
}
  nav.side-nav ul li.first {
 

}
    nav.side-nav ul li.last {
       border-bottom: none;

}

 nav.side-nav ul li a {
    display: block;   
    height: 100%;
	text-decoration:none;
}
nav.side-nav ul li a span.icon {
    width: 35px;       
    height: 35px;
    background: white;
    display: block;
    margin: 25px auto 10px auto;
}
nav.side-nav ul li a p {
    color: white;
    font-family: 'Roboto-Light';
    margin: 0 auto 9px auto;
    letter-spacing: 1.28px;
    text-align: center;
}
nav.side-nav ul.sub_menu {
    position: relative;
    background: rgb(99,100,102);
    display:none;
    box-shadow: inset 2px 2px 5px black;
}
nav.side-nav ul.sub_menu li{
  opacity:0;
  border-top: 2px rgba(224,224,224,.2) solid; 
  border-bottom: 1px rgba(0,0,0,.2) solid;
}
.sub_btn a p span {
    font-family: 'Glyphicons Halflings';
}
#contain.row {
    position: relative;
    margin-left: -15px;
    margin-bottom: 0px;
}
#main {
    float: left;
    margin-left: 180px;
    padding-right: 0px;
}
.swatch_container {
     margin-top:38px;
list-style-type:none;
margin-left:0px;
padding-left:0px;
display:inline-block;
}
 .swatch_container li {
    display:inline;
    float:left;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    margin-right:15px;
    margin-bottom:15px;
    opacity:1;
    
}
 ul.chips{
    padding:0;
    margin:0 0 25px 0;
    list-style-type:none;
}
ul.bs-glyphicons-list {
    list-style-type:none;
    display:inline-block;
    padding: 0;
    margin: 0;
}
.glyphicon {
    color: rgb(121,165,66);
}
ul.bs-glyphicons-list li{
    float:left;
    width: 95px;
    height: 95px;
    opacity:1;
    text-align:center;
    position:relative;
    overflow:hidden;
    background: rgb(65,64,66);
    margin: 7px;
    cursor: pointer;
    box-shadow: 1px 2px 18px rgba(0,0,0,0);
    transition: box-shadow .2s linear, background .2s linear;
}
ul.bs-glyphicons-list li:hover {
       background: #212121;
       box-shadow: 5px 19px 18px rgba(0,0,0,.6);
}

    ul.bs-glyphicons-list li span.glyphicon {
    position: relative;
    
    top: 23px;
    font-size: 25px;
}
ul.bs-glyphicons-list li span.glyphicon-class{
   display:block;
   opacity: .7;
   font-size: 12px;
   position: relative;
   color: rgb(121,165,66);
   top: 21px;
}
 ul.chips li{
    height:35px;
    opacity:1;
}
.swatch_container li.first {
        background:rgb(255,69,26);
   
    }
 .swatch_container li.second {
          background:rgb(65,64,66);
    }
 .swatch_container li.third {
          background:rgb(0,73,98);
    }
 .swatch_container li.fourth {
          background:rgb(99,100,102);
    }
       .swatch_container li.fifth {
          background:rgb(121,165,66);
    }
ul.button_set {
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0;
    display: inline-block;
}

ul.button_set li{
    float:left;
 opacity:1;
    margin: 0 14px 10px 0;
}
.second_btn {
    margin-left: 25px;
}
.btn.action_btn {
border-radius: 200px;
width: 78px;
height: 78px;
border: none;
font-family: 'Glyphicons Halflings';
box-shadow: 2px 2px 2px rgba(0,0,0,.4);
font-size: 24px;
}
#flat_buttons li, #raised_buttons li {
    width: 100%;
}
.btn.raised_btn {
    font-family: 'Roboto-Regular', sans-serif;
    border: none;
    position:relative;
    overflow:hidden;
    padding: 9px 20px;
border-radius: 2px;
box-shadow: 0px 2px 2px rgba(0,0,0,.4);
  transition: box-shadow .28s linear;
}

table tbody tr td span {
    font-family: 'Glyphicons Halflings';
    font-size: 21px;
    margin-left: 15px;
}
table tbody tr span.first_icon {
    margin-left: 0px;
}
    .btn.raised_btn:hover {
          box-shadow:0px 5px 10px rgba(0,0,0,.5);
        
    }
  
.btn.flat_btn {
    font-family: 'Roboto-Medium', sans-serif;
     border: none;
     border-radius: 2px;
     padding: 9px 20px;
     position:relative;
     overflow:hidden;
     background:none;
     box-shadow:0px 0px 0px rgba(0,0,0,0);
     color:rgb(255,69,26);
      text-decoration:none;
       transition: box-shadow .28s linear;
}
    .btn.flat_btn:hover {
          box-shadow:0px 5px 10px rgba(0,0,0,.2);
        
    }
form {
margin-top:35px;
}
.form-control,input[type="text"], input[type="email"], input[type="password"] {
  font-family: 'Roboto-Light';
      border-top: none;
border-left: none;
border-right: none;
border-radius: 0;
background: none;
box-shadow: none;
border-bottom: 2px rgba(0,73,98,.5) solid;
height: 55px;
padding: 0;
font-size: 22px;
}
    input:focus {
        box-shadow: 0;
         transition:none;
         outline:none;
    }
.checkbox input[type="checkbox"] {
}



footer {
    width: 100%;
    height: 75px;
    display: inline-block;
 
}
.phonenumber {
display:inline-block;
}
.phonenumber .col-md-3 {
    padding-right: 4px;
    padding-left:0px;
}
.button_set {
margin: 25px 0 0 0;
}


.btn.span.btn_title {
color:black;
}

.btn_title {
    z-index: 999;
    color: black;
    position: relative;
}

  .btn.btn-block {
    padding: 13px 0;
    font-size: 18px;
}
        .btn.btn-lg {
    padding: 13px 53px;
}
            .btn.btn-sm {
    padding: 4px 10px;
    /* font-size: 18px; */
}

	/*RIPPLE EFFECT*/
	.ripple, .sub_btn{
	  overflow:hidden;
	  /* background:#f45673; */
	  position:absolute;
	}

	.ripple-effect{
	  position: absolute;
	  border-radius: 50%;
	  width: 50px;
	  height: 50px;
	  background: white;
	  animation: ripple-animation 2s;
	  -webkit-animation: ripple-animation 2s;
	  -moz-animation: ripple-animation 2s;
	}


	@-webkit-keyframes ripple-animation {
	    from {
	      transform: scale(1);
	      opacity: 0.4;
	    }
	    to {
	      transform: scale(100);
	      opacity: 0;
	    }
	}



@media (max-width: 620px) {
    #main {
        margin-left: 0;
    }
    .sidebar {
    position: relative;
    
    width: 100%;
    max-width: 100%;
    height: auto;
}
}

